{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Commentaires Négatifs</title>
</head>
<body>
    <div class="title">
        <h1 class="title">Commentaires Négatifs</h1>
        <a href="{% url 'avis' %}">Retour</a>
    </div>
    
    <div class="comments">
        {% for avis in avis_negatifs %}
            <div class="comment">
                {{ avis.text }}
            </div>
        {% endfor %}
    </div>
</body>
</html>
